@pichincha:registry=https://pkgs.dev.azure.com/BancoPichinchaEC/0f20bf47-c965-46fe-8bd4-91df57fbb2e7/_packaging/Framework/npm/registry/
//pkgs.dev.azure.com/BancoPichinchaEC/0f20bf47-c965-46fe-8bd4-91df57fbb2e7/_packaging/Framework/npm/registry/:username=BancoPichinchaEC
//pkgs.dev.azure.com/BancoPichinchaEC/0f20bf47-c965-46fe-8bd4-91df57fbb2e7/_packaging/Framework/npm/registry/:_password=NDN2TDVGWmhmTnR2UGZ3UXZlc1B6V3JiakhySm1VTzdqb3NMeEVtbjhpNGNWTWk1bDVDbUpRUUo5OUJHQUNBQUFBQWloQzZ6QUFBU0FaRE8xZzVk
//pkgs.dev.azure.com/BancoPichinchaEC/0f20bf47-c965-46fe-8bd4-91df57fbb2e7/_packaging/Framework/npm/:username=BancoPichinchaEC
//pkgs.dev.azure.com/BancoPichinchaEC/0f20bf47-c965-46fe-8bd4-91df57fbb2e7/_packaging/Framework/npm/:_password=NDN2TDVGWmhmTnR2UGZ3UXZlc1B6V3JiakhySm1VTzdqb3NMeEVtbjhpNGNWTWk1bDVDbUpRUUo5OUJHQUNBQUFBQWloQzZ6QUFBU0FaRE8xZzVk
legacy-peer-deps=true