$blue: #0f265c;
$yellow: #ffee00;
$yellow-sun: #ffdd00;
$yellow-sun-2: #ffce03;
$white: #ffffff;
$black: #000000;
$grey: #595959;
$warm-grey: #999999;
$soft-grey: #eeeeee;
$hot-grey: #dddddd;
$red: #d41020;

$font-book: "PreloSlab-book"; // normal
$font-medium: "PreloSlab-semibold"; // 600
$font-bold: "PreloSlab-bold"; // bold

$font-sans-book: "Prelo-Book"; // normal
$font-sans-bold: "Prelo-Bold"; // bold
