<div class="list-items">
  <header class="list-items__title">
    <pichincha-typography variant="prelo-slab" color="bp-primary-blue500" weight="400" size="32px" category="h1">
      Listado de Movimientos
    </pichincha-typography>
  </header>

  <section>

    <pichincha-typography variant="prelo" color="bp-primary-blue500" weight="400" size="20px">
      Cliente: {{customerResponse()?.fullName}}
    </pichincha-typography>

    <pichincha-detail-item-list item-title="Cuenta:" description="{{ accountResponse()?.accountNumber }}"
      variant="main">
    </pichincha-detail-item-list>
    <pichincha-typography variant="prelo" color="bp-primary-blue500" weight="400" size="16px">
      Tipo: {{ accountResponse()?.accountType === 'SAVINGS' ? 'Ahorros' :
      accountResponse()?.accountType === 'CURRENT' ? 'Corriente' : accountResponse()?.accountType }}
    </pichincha-typography>
    <pichincha-typography variant="prelo" color="bp-primary-blue500" weight="400" size="16px">
      Saldo actual: {{ accountResponse()?.initialBalance | currency }}
    </pichincha-typography>


    <div class="list-items__buttons">
      <pichincha-button size="medium" id="button" customWidth="180px" label="Transferir"
        [disabled]="accountResponse()?.initialBalance === 0" (click)="handleCreateANewItem()">
      </pichincha-button>
    </div>

    <div class="container-table mt-4">
      <pichincha-table size-start="10" [headers]="tableHeaders" [rows]="itemss()"></pichincha-table>

      <!-- Custom pagination controls -->
      <div class="d-flex justify-content-between align-items-center mt-3 pagination-container" *ngIf="totalPages > 1">
        <div>
          <pichincha-typography variant="prelo-sans" color="bp-neutral-gray700" weight="400" size="14px"
            line-height="20px">
            Mostrando {{ currentPage * pageSize + 1 }} -
            {{ Math.min((currentPage + 1) * pageSize, totalElements) }} de
            {{ totalElements }} registros
          </pichincha-typography>
        </div>

        <div class="d-flex align-items-center gap-2">
          <pichincha-button size="small" variant="outline" [disabled]="currentPage === 0"
            label="Anterior"></pichincha-button>

          <span class="mx-2">
            <pichincha-typography variant="prelo-sans" color="bp-neutral-gray700" weight="400" size="14px"
              line-height="20px">
              Página {{ currentPage + 1 }} de {{ totalPages }}
            </pichincha-typography>
          </span>

          <pichincha-button size="small" variant="outline" [disabled]="currentPage >= totalPages - 1"
            label="Siguiente"></pichincha-button>
        </div>
      </div>
    </div>
    <pichincha-button size="medium" id="button" customWidth="180px" label="Ir a cuentas"
      (click)="handleReturnAccount()"></pichincha-button>
  </section>
</div>